<header>
    <p>
        my name is <b>shmuel rosenberg</b>, and i learn in <b>jbh</b>, in jerusalem.
    </p>
        <div>
            <img src="/assets/shmuelRosenberg.jpg" alt="shmuel rosenberg" width="100">
        </div>
</header>
<main>
    <p>
        my project is About Cryptonite, and i used:
    </p>
    <ul>
        <li>HTML + CSS-Bootstrap</li>
        <li>Angular</li>
        <ul>
            <li>components.</li>
            <li>input Component.</li>
            <li>component output.</li>
            <li>pipe.</li>
            <li>interface.</li>
            <li>service.</li>
            <li>Template variables.</li>
            <li>Routing RxJS</li>
        </ul>
    </ul>
</main>